$sidebar-bgcolor: #f2f2f2;
$right-sidebar-bgcolor: #f2f2f2;
.container{
  min-height: 100%;
}
.main-wrapper{
  height: 100%;
  display: table;
  position: relative;
  width: 100%;
}

.header-padding {
  display: table-row;
  height: 56px;
}

.sidebar {
  width: 175px;
  position: fixed;
  background-color: $sidebar-bgcolor;
  border-right: 1px solid #d3d3d3;
  top: 56px;
  bottom: 0;
  z-index: 1;
}

.sidebar-right-placeholder {
  display: table-cell;
  width: 250px;
  min-width: 250px;
}

.sidebar-right {
  background: $right-sidebar-bgcolor;
  border-left: 1px solid #d3d3d3;
  top: 56px;
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1;
  width: 250px;
  min-width: 250px;
}

.main{
  margin: 0 0 0 175px;
  position: relative;
  padding: 20px;
  min-width: 350px;
}

.main-wrapper {
  @include clearfix;
  width: 100%;
  overflow: auto;
}
