.main
  .post-body
    = link_to "New Post", new_admin_post_path

    %table
      %tbody
        %tr
          %th
            Name
        - @posts.each do |post|
          %tr
            %td= link_to post.title, edit_admin_post_path(post)
